<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
xmlns="https://java.sun.com/xml/ns/javaee"
xmlns:web="https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
 <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>ATLDataSvc</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.ATLDataSvcServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.ListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BrowseServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.BrowseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RetrieveServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.RetrieveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HistoryServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.HistoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewedServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.ViewedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddSuperuserServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.AddSuperuserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PermissionServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.PermissionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PublishServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.PublishServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailerServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.EmailerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RevertService</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.RevertService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SKOLogService</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.SKOLogService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SKOLogRetrieve</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.SKOLogRetrieve</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.AccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveBookmarks</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.SaveBookmarks</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RetrieveBookmarks</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.RetrieveBookmarks</servlet-class>
	</servlet>					
	<servlet>
		<servlet-name>AdminScriptsServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.AdminScriptsServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ContentServlet</servlet-name>
		<servlet-class>org.skoonline.atl.dataservice.ContentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>remoteapi</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>MyScriptsServlet</servlet-name>
	    <servlet-class>org.skoonline.atl.dataservice.MyScriptsServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>TrashServlet</servlet-name>
	    <servlet-class>org.skoonline.atl.dataservice.TrashServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>AnyServlet</servlet-name>
	    <servlet-class>org.skoonline.atl.dataservice.Any</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ATLDataSvc</servlet-name>
		<url-pattern>/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListServlet</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BrowseServlet</servlet-name>
		<url-pattern>/browse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveServlet</servlet-name>
		<url-pattern>/retrieve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HistoryServlet</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewedServlet</servlet-name>
		<url-pattern>/viewed</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSuperuserServlet</servlet-name>
		<url-pattern>/addsuperuser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PermissionServlet</servlet-name>
		<url-pattern>/permission</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PublishServlet</servlet-name>
		<url-pattern>/publish</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailerServlet</servlet-name>
		<url-pattern>/emailer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RevertService</servlet-name>
		<url-pattern>/revert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SKOLogService</servlet-name>
		<url-pattern>/skolog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SKOLogRetrieve</servlet-name>
		<url-pattern>/retrieveRecord</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>SaveBookmarks</servlet-name>
		<url-pattern>/savebookmark</url-pattern>
	</servlet-mapping>	
<servlet-mapping>
		<servlet-name>RetrieveBookmarks</servlet-name>
		<url-pattern>/retrievebookmark</url-pattern>
	</servlet-mapping>	
		
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>AdminScriptsServlet</servlet-name>
		<url-pattern>/admindata</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ContentServlet</servlet-name>
		<url-pattern>/content</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>remoteapi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>MyScriptsServlet</servlet-name>
	    <url-pattern>/myscriptsdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>TrashServlet</servlet-name>
	    <url-pattern>/trash</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>AnyServlet</servlet-name>
	    <url-pattern>/any</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>remoteapi</web-resource-name>
			<url-pattern>/remote_api</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<static-files>
  		<include path="/1024768/**.html" />
  		<include path="/1024768/**.swf" />
  		<include path="/1024768/**.js" />
  		<include path="/1024768/**.swz" />
  	</static-files>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
